# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build output
client/build/
biometric/target/

# macOS
.DS_Store

# Editor files
.vscode/
.idea/

# Rust build artifacts
**/target/
# LND data
lnd-darwin-arm64-v0.17.0-beta.tar.gz
bitcoin-lnd-setup/lnd-darwin-arm64-v0.17.0-beta.tar.gz
# Other temporary files
*.log

# Temporary files
*.log
*.cache
client/transferring
client/unpacking
client/sha256:*
client/=
client/[auth]
client/[internal]
client/extracting
client/naming
client/resolve
humanhash.code-workspace
main
humanhash.code-workspace
main
biometric/bitcoin/testnet3/*
oracle/Cargo.lock.bak
lnd-darwin-arm64-v0.17.0-beta/lnd
biometric/bitcoind_logs.txt
